body {
  min-height: 100vh;
  background-color: #eaf6ff;
}

body p, body div {
  font-family: Zilla Slab;
  font-size: 16px;
  color: #0f0f2e;
}

body label {
  font-family: Zilla Slab;
  font-size: 16px;
  color: #eaf6ff;
}

body table {
  font-family: Zilla Slab;
  font-size: 16px;
  color: #0f0f2e;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
}

.navBar {
  background-color: #2a2a72;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navBar p {
  font-size: 3rem;
  color: #eaf6ff;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.navBar button {
  margin-top: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.hero {
  background-color: orange;
  padding: 0.8rem 1rem;
}

.hero p {
  font-size: 2.25rem;
  color: #0f0f2e;
}

.main {
  overflow: auto;
}

.widget {
  background-color: #009FFD;
  border-radius: 1rem;
  min-height: 10rem;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 0.5rem;
}

.widget p {
  color: #eaf6ff;
}

.controlBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2a2a72;
  overflow: auto;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.controlBarTitle {
  text-align: center;
  padding: 0.5rem;
}

.controlBarTitle p {
  font-size: 1rem;
}

.controlBarControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-align: center;
  padding: 0.5rem;
}

.controlBarControls select {
  font-size: 0.8rem;
  margin-right: 0.5rem;
  background-color: #009FFD;
  color: #eaf6ff;
  border: 0;
  border-radius: 0.125rem;
}

.controlBarControls label {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.controlBarControlsHidden {
  display: none;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-align: center;
  padding: 0.5rem;
}

.controlBarControlsHidden select {
  font-size: 0.8rem;
  margin-right: 0.5rem;
  background-color: #009FFD;
  color: #eaf6ff;
  border: 0;
  border-radius: 0.125rem;
}

.controlBarControlsHidden label {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.keyboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[83];
      grid-template-columns: repeat(83, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  height: 8rem;
}

.keyboardNoteWhite {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eaf6ff;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
}

.keyboardNoteWhite p {
  color: #0f0f2e;
}

.keyboardNoteBlack {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2a2a72;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
  z-index: 10;
}

.keyboardNoteBlack p {
  color: #eaf6ff;
}

.keyboardNoteHighlight {
  width: 0.8rem;
  height: 0;
  padding-bottom: 0.8rem;
  border-radius: 50%;
  margin: auto;
  margin-top: auto;
  margin-bottom: 0.5rem;
  opacity: 100%;
}

.noteSection {
  margin: 0.5rem;
  background-color: #009FFD;
  border-radius: 0.5rem;
}

.noteSectionTable {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  row-gap: 0.3rem;
  margin: 0.5rem;
}

.noteSectionTable p {
  text-align: center;
  color: #0f0f2e;
  margin-top: 0.5rem;
}

.tableHeader {
  margin-top: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -webkit-column-gap: 2%;
          column-gap: 2%;
}

.tableHeader div {
  border-radius: 0.25rem;
  height: 2rem;
  width: 100%;
}

.tableData {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -webkit-column-gap: 2%;
          column-gap: 2%;
}

.tableData div {
  height: 2rem;
  width: 100%;
  border: 1px solid #eaf6ff;
  border-radius: 0.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#chords .tableHeader {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#chords .tableData {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.rootNote {
  background-color: #D34242;
}

.scaleNote {
  background-color: #FFA400;
}
/*# sourceMappingURL=App.css.map */