
//Variables
//Colors
$lightBlue: #eaf6ff;
$midBlue: #009FFD;
$lightPurple: #2a2a72; 
$darkPurple: #0f0f2e; 
$orange: #FFA400;
$red: #D34242;

body {
  min-height: 100vh;
  background-color: $lightBlue;

  p, div {
    font-family: Zilla Slab;
    font-size:16px;
    color: $darkPurple;
  }

  label {
    font-family: Zilla Slab;
    font-size:16px;
    color: $lightBlue;
  }

  table {
    font-family: Zilla Slab;
    font-size:16px;
    color: $darkPurple;
    text-align: center;
    border-radius: 0.5rem;
    margin-bottom: 0.25rem;
  }
}

.navBar {
  background-color: $lightPurple;
  display: flex;
  justify-content: space-between;
  p {
    font-size: 3rem;
    color: $lightBlue;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  //button applies to hamburger menu
  button {
    margin-top: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.hero {
  background-color: orange;
  padding: 0.8rem 1rem;
  p {
    font-size: 2.25rem;
    color: $darkPurple;
  }
}

.main {
  overflow: auto;
}

// Widget specific styles

.widget {
  background-color: $midBlue;
  border-radius: 1rem;
  min-height: 10rem;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 0.5rem;
  p {
    color: $lightBlue;
  }
}

.controlBar {
  display: flex;
  justify-content: space-between;
  background-color: $lightPurple;
  overflow: auto;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.controlBarTitle {
  text-align: center;
  padding: 0.5rem;
  p {
    font-size: 1rem;
  }

}
.controlBarControls {
  display: flex;
  justify-content: right;
  text-align: center;
  padding: 0.5rem;
  select {
    font-size: 0.8rem;
    margin-right: 0.5rem;
    background-color: $midBlue;
    color: $lightBlue;
    border: 0;
    border-radius: 0.125rem;
  }
  label {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
}

.controlBarControlsHidden {
  display: none;
  justify-content: right;
  text-align: center;
  
  padding: 0.5rem;
  select {
    font-size: 0.8rem;
    margin-right: 0.5rem;
    background-color: $midBlue;
    color: $lightBlue;
    border: 0;
    border-radius: 0.125rem;
  }
  label {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
}

.keyboard {

  display: grid;
  grid-template-columns: repeat(83, 1fr) ;
  grid-template-rows: repeat(3, 1fr) ;
  justify-content: space-between;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  height: 8rem;

}

.keyboardNoteWhite {
  box-sizing: border-box;
  background-color: $lightBlue;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: bottom;
  p {
    color: $darkPurple;
  }
  
}

.keyboardNoteBlack {
  box-sizing: border-box;
  background-color: $lightPurple;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: bottom;
  p {
    color: $lightBlue;
  }
  z-index: 10;
}

.keyboardNoteHighlight {
  width: 0.8rem;
  height: 0;
  padding-bottom: 0.8rem;
  border-radius: 50%;
  margin: auto;
  margin-top: auto;
  margin-bottom: 0.5rem;
  opacity: 100%;
  
}

.noteSection {
  margin: 0.5rem;
  background-color: $midBlue;
  border-radius: 0.5rem;
}



.noteSectionTable {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 0.3rem;
  margin: 0.5rem;
  
  
  p {
    text-align: center;
    color: $darkPurple;
    margin-top: 0.5rem;
  }
}

.tableHeader {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 2%;
  div {
    border-radius: 0.25rem;
    height: 2rem;
    width: 100%;
  }
}

.tableData {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 2%;
  div {
    height: 2rem;
    width: 100%;
    border: 1px solid $lightBlue;
    border-radius: 0.25rem;
    box-sizing: border-box;
  }
}

.rootNote {
  background-color: $red;
}

.scaleNote {
  background-color: $orange;
}

//ChordWidget specific styles 

.chord {
  display: flex;
  justify-content: left;
  align-items: top;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.chord .keyboard {
  width: 60%;
  grid-template-columns: repeat(60, 1fr) ;
  height: 5.5rem;
  margin: 0 0 0 0;
}

.chord .noteSection {
  margin: 0 0 0 0; 
  margin-left: 1.5rem;
}

.chord .noteSectionTable {
  margin: 0 0 0 0;
  margin-right: 1rem;
  padding: 0;
}

.chord .tableHeader {
  margin: 0;
}

.chord p {
  font-size: 1rem;
  color: $darkPurple;
}

.chord .chordLabel {
  margin-top: 0.33rem;
  margin-right: 2rem;
  font-size: 0.8rem;
}



#chords .tableHeader {
  grid-template-columns: repeat(3, 1fr);
}

#chords .tableData {
  grid-template-columns: repeat(3, 1fr);
  
}

.chord .rootNote {
  width: 2rem;
}

.chord .scaleNote {
  width: 2rem;
}


