
//Variables
//Colors
$lightBlue: #eaf6ff;
$midBlue: #009FFD;
$lightPurple: #2a2a72; 
$darkPurple: #0f0f2e; 
$orange: #FFA400;
$red: #D34242;

body {
  min-height: 100vh;
  background-color: $lightBlue;

  p {
    font-family: Zilla Slab;
    font-size:16px;
    color: $darkPurple;
  }

  label {
    font-family: Zilla Slab;
    font-size:16px;
    color: $lightBlue;
  }

  table {
    font-family: Zilla Slab;
    font-size:16px;
    color: $darkPurple;
  }
}

.navBar {
  background-color: $lightPurple;
  display: flex;
  justify-content: space-between;
  p {
    font-size: 3rem;
    color: $lightBlue;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  //button applies to hamburger menu
  button {
    margin-top: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.hero {
  background-color: orange;
  padding: 0.8rem 1rem;
  p {
    font-size: 2.25rem;
    color: $darkPurple;
  }
}

.main {
  overflow: auto;
}

.widget {
  background-color: $midBlue;
  border-radius: 1rem;
  min-height: 10rem;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  p {
    color: $lightBlue;
  }
}

.controlBar {
  background-color: $lightPurple;
  overflow: auto;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 0.5rem;
}

.keyboard {

  display: grid;
  grid-template-columns: repeat(84, 1fr) ;
  grid-template-rows: repeat(3, 1fr) ;
  justify-content: space-between;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  height: 4rem;

}

.keyboardNoteWhite {
  box-sizing: border-box;
  background-color: $lightBlue;
  height: auto;
  width: 100%;

  p {
    color: $darkPurple;
  }
  
}

.keyboardNoteBlack {
  box-sizing: border-box;
  background-color: $lightPurple;
  height: auto;
  width: 100%;
  p {
    color: $lightBlue;
  }
  z-index: 10;
}

.keyboardNoteHighlight {
  width: 80%;
  height: 0;
  padding-bottom: 80%;
  border-radius: 50%;
  margin: auto;
  margin-top: 80%;
  margin-bottom: 20%;
  opacity: 100%;
}

.noteSection {
  margin: 0.5rem;
}







